<div class="container">

    <div class="card card-container"  *ngIf="isSumbitMessage">

        
    <h4 class="d_45">
        <i class="bi bi-patch-question-fill"> </i>
        Change Password
      </h4>
  

        <form  
            emailForm="form"
            (ngSubmit)="f.form.valid && changePassword()"
            #f="ngForm"
            novalidate
        >

                <mat-form-field appearance="outline" class="width100" >
                  <mat-label>new password</mat-label>
                  <input 
                        matInput 
                        type="password"
                        name="newPassword"
                        [(ngModel)]="passwordForm.newPassword"
                        placeholder="Enter new Password"
                  >
                </mat-form-field>


                <mat-form-field appearance="outline" class="width100" >
                    <mat-label>conform password</mat-label>
                    <input 
                          matInput 
                          type="password"
                          name="conformPassword"
                          [(ngModel)]="passwordForm.conformPassword"
                          placeholder="conform Password"
                    >
                  </mat-form-field>

                <div class="form-group mt-2">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="f.submitted && isLoginFailed"
                    >
                      Login failed: {{ errorMessage }}
                    </div>
                  </div>

                <div class="container text-center" >
                    <button  mat-raised-button color="primary" >
                        Change Password
                    </button>
                </div>
               
                
        </form>


    </div>

</div>