.card-container {
    max-width: 400px !important;
    padding: 40px 40px;
    margin: auto;
    margin-top: 10%;
  }

  .d_45
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 2px;
}
