<div>
<!--   
  <button mat-button mat-dialog-close>
    <i class="bi bi-x" style="font-size: 28px;"></i>
  </button> -->

  <h1 mat-dialog-title style="font-size: 18px;"> 
     Ask Questions
  </h1>

  <hr>
</div>

<form action=""
    name="form"
    (ngSubmit)="f.form.valid && submitPost()"
    #f="ngForm"
    novalidate>

    <div class="mb-3">
      <input 
      type="text" 
      [(ngModel)]="post.title"
      name="title"
      class="form-control" 
      autocomplete="off" 
      placeholder="Question Title" >
    </div>

    <textarea style="width: 100%;border: none;outline: none;height: 100px;font-size: 20px;" 
            name="password"
            [(ngModel)]="post.content"
            row="5" placeholder=" Question Content ?" spellcheck="false">
    </textarea>

    
    <div>
        <img [src]="preview" class="preview">
      </div>


      <!-- <div *ngIf="currentFile && progress" class="progress my-3">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div> -->


    
     <hr>   
     <input type="file" multiple accept="image/*" (change)="selectFile($event)" />

    <mat-dialog-actions align="end" >
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-button mat-stroked-button  [mat-dialog-close]="true" cdkFocusInitial>
        Ask Question
        <i class="fa fa-question text-dark" style="font-size:16px" aria-hidden="true"></i>
      </button>
    </mat-dialog-actions>

   
</form>


