.profilePicture
{
    border-radius: 4px;
    object-fit: cover;
}

.timer
{
    background-color: #CCD1D1;
    font-size: 10px;
    padding: 1px;
    border-radius: 3px;
}

.cardSty
{
    background-color: transparent;
    border-left: none;
    border-right:none ;
    border-top: none;
}


/* lol */

.tooltip1 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 230px;
  height: 120px;
  background-color: #273746;
  color: #fff;
  /* text-align: center; */
  border-radius: 4px;
  padding: 7px 7px 7px 7px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 3%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #273746 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}




/* CSS */
.voteUp-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 16px;
  border-radius: 6px;
  border: none;
  background: #F7F9F9;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 
              inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 
              0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.voteUp-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 
            0px 0.5px 1px rgba(0, 0, 0, 0.1),
            0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.feedbackBox
{
              height: 50px;
              width: 550px;
              margin: auto;
              text-align: center;
              background-color: #EAF2F8;
              padding: 9px;
              position: fixed;
              border-radius: 7px;
              top: 50%;
              left: 50%;
              margin-left: -220px;
              margin-top: -260px;
              z-index: 11111111111111111111111111111111;
}