<div class="container">


    <div class="card p-2" style="border-radius: 8px;max-width: 60rem;">
        <div class="row">

            <div class="col-md-1">
              <img src="https://images.unsplash.com/photo-1543132220-3ec99c6094dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="" height="40" width="40" class="mt-1" style="border-radius: 50%; object-fit: cover;">
            </div>

            <div class="col-md-11"  >
                <!-- <div class="card" style="height: 45px;background-color: #f2f2f2;"> -->
                  <!-- <span style="color: #979A9A;">Write something</span> -->
                  <div (click)="dataSave()" style="cursor: pointer;width: ;">
                    <input 
                      style="height: 38px;"
                      type="text"  
                      id="fname" 
                      name="firstname" 
                      placeholder="Ask's for a minding Questions ?">
                  </div>
                <!-- </div> -->
            </div>
          
        </div>
     </div>

     <div 
         class="search-resultss"
          infinite-scroll
          [infiniteScrollDistance]="scrollDistance"
          [infiniteScrollUpDistance]="scrollUpDistance"
          [infiniteScrollThrottle]="throttle"
          [scrollWindow]="true"
          (scrolled)="onScrollDown()"
          (scrolledUp)="onScrollUp()">
      
          <!-- <div  *ngFor="let i of data" class="mb-5"> 
            {{ i.content}}<br>
            {{ i.fileUrl}}
            <hr>
          </div> -->

          <div  *ngFor="let i of data" class="mb-5"> 
            {{ i.id}}<br>
            {{ i.content}}<br>
            {{ i.fileUrl}}
            <hr>
          </div>
    </div>


  </div>