<ngx-spinner  
    size="default" 
    color="#7A6CF9"
    type="ball-clip-rotate">
    <p style="font-size: 15px; color: white">please wait...</p>
</ngx-spinner>

<div id="app" >

    <!-- <p >
      <mat-toolbar style="background-color: white;" class="shadow-sm">
      
        <span>
            <a href="/" mat-icon-button class="example-icon favorite-icon mx-4" aria-label="Example icon-button with heart icon">
              Med Connect
            </a>
        </span>
        
        <span class="example-spacer"></span>

          <div *ngIf="!isLoggedIn" >
            <a href="/register" mat-icon-button class="example-icon favorite-icon mx-4" aria-label="Example icon-button with heart icon">
               <mat-icon>favorite</mat-icon> -->
            <!-- Sign Up
            </a>
            <a href="/login" mat-icon-button class="example-icon mr-3" aria-label="Example icon-button with share icon">
              Login
            </a>
          </div>


          <div *ngIf="isLoggedIn" >
            <a  href="/profile" routerLink="profile" mat-icon-button class="example-icon favorite-icon mx-4" aria-label="Example icon-button with heart icon">
               <mat-icon>favorite</mat-icon> -->
              <!-- profile
            </a>
            <a href class="nav-link" (click)="logout()" mat-icon-button class="example-icon mr-3" aria-label="Example icon-button with share icon">
              Logout
            </a>
          </div>

      </mat-toolbar> -->
    <!-- </p>   -->

        <nav class="navbar navbar-expand-sm shadow-sm p-3" >
          <a href="#" class="navbar-brand mx-3">Med Connect</a>

          <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item" *ngIf="showAdminBoard">
              <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
            </li>
            <li class="nav-item" *ngIf="showModeratorBoard">
              <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="/">Home</a>
            </li>
          </ul>


          <!-- Is Not Logging in  -->
          <ul class="navbar-nav ml-auto" style="float: left;" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>


              <!-- Is Logging in  -->
          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            
            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="/user/campaign">
                Campaign
              </a>
            </li>

            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">
                <!-- {{ username }} -->
                Profile
              </a>
            </li>

            <li class="nav-item">
              <a href class="nav-link" (click)="logout()">
                Logout
              </a>
            </li>

          </ul>
        </nav>




     <div class="container mt-4" style="max-width: 1200px;"  *ngIf="isLoggedIn">

      <div class="row" >

          <div class="col-md-2" style="border-right: 0.5px solid #CCD1D1;height: 550px;width: 200px;">


            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" routerLink="/user/campaign" aria-current="true">
                <i class="fa fa-home" style="font-size:16px"></i>
                Home
              </a>
              <a href="#" class="list-group-item list-group-item-action"  routerLink="/user/questions">
                <i class="fa fa-question text-dark" style="font-size:16px" aria-hidden="true"></i>
                Questions
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <i class="fa fa-hospital-o" style="font-size:16px"></i>
                Hospitals
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-book-half"></i>
                Internships
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-person-circle"></i>
                Profile
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-person-circle"></i>
                About
              </a>
          </div>
      
        </div>

        <div class="col-md-7">
          <router-outlet></router-outlet>
        </div>

        <div class="col-md-3">
          AA
        </div>

      </div>

      
     </div>




     <div *ngIf="!isLoggedIn">
        <router-outlet></router-outlet>
     </div>

</div>

