<div class="div1" >
  <div class="container ">
      <div class="row">

          <div class="col-md-6 ">
            <div class="card border-0" style="background-color: transparent;margin-top: 15%;">

              <h1 class="card-title commStrong">
                Being Your DOC Community <br>
                <span class="text-center">STRONGER</span>
              </h1>

              <h1 class="card-title onlyStrong">
               
              </h1>

              <div>
                <p class="blockquote-footer" style="font-size: 18px;color:#5D6D7E ;">
                  Strong communities have a significant sense of purpose. People's roles have meaning.
                  People appreciate being welcomed and valued.
                </p>
              </div>
            
               <div class="row">
                <div class="mt-4" >
                  <a routerLink="/login" class="button100" role="button">Login</a>
                  <a routerLink="/register"  type="button" class="btn btn-outline-secondary mx-5 p-3" style="width:180px;">Sign Up</a>
                </div>
              
               </div>

            </div>
          </div>


          <div class="col-md-6 mt-4">
              <img src="../../assets/landingPage-images/img2.png" height="550" width="750" alt="">
          </div>
      </div>
  </div>
</div>


